{
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:react/jsx-runtime",
		"plugin:react-hooks/recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:@next/next/recommended",
		"plugin:prettier/recommended",
		"plugin:tailwindcss/recommended"
	],
	"settings": {
		"react": {
			"version": "detect"
		},
		"tailwindcss": {
			"callees": ["classnames", "clsx", "cn"],
			"config": "tailwind.config.js", // returned from `loadConfig()` utility if not provided
			"cssFiles": ["**/*.css", "!**/node_modules", "!**/.*", "!**/dist", "!**/build"],
			//   "cssFilesRefreshRate": 5_000,
			"removeDuplicates": true,
			"skipClassAttribute": false,
			"whitelist": [],
			"tags": [],
			"classRegex": "^class(Name)?$" // can be modified to support custom attributes. E.g. "^tw$" for `twin.macro`
		}
	},
	"overrides": [
		{
			"files": ["*.ts", "*.tsx", "*.js"],
			"parser": "@typescript-eslint/parser"
		}
	]
}
